<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rescue.dao.SqlyDao">

    <select id="findSqly" parameterType="com.rescue.entity.Sqly" resultType="com.rescue.entity.Sqly">
        select * from sqly where 1 = 1

        <if test="sqly.sno != null and sqly.sno != '' ">
            <bind name="sno" value="'%' + sqly.sno + '%'"/>
            and sno like #{sno}
        </if>

        order by id asc
    </select>

    <select id="selectAll" parameterType="java.lang.String" resultType="com.rescue.entity.Sqly">
        select * from sqly where 1 = 1
        <if test="map.uid != null and map.uid != '' ">
            and uid = #{map.uid}
        </if>
        <if test="map.aid != null and map.aid != '' ">
            and aid = #{map.aid}
        </if>
    </select>

    <select id="getSqlyById" parameterType="java.lang.Integer" resultType="com.rescue.entity.Sqly">
        select * from sqly where id=#{id}
    </select>

    <delete id="deleteSqly" parameterType="java.lang.Integer">
	    delete from sqly
	    where id = #{id}
	  </delete>

    <update id="updateSqly" parameterType="com.rescue.entity.Sqly" >
      update sqly set
        note = #{sqly.note},
        phone = #{sqly.phone}
        where id = #{sqly.id}
     </update>

    <update id="updateSqlyState" parameterType="com.rescue.entity.Sqly" >
      update sqly set
        state = #{sqly.state}
        where id = #{sqly.id}
     </update>


    <insert id="addSqly" parameterType="com.rescue.entity.Sqly" >
      insert into sqly (sno,aid,uid,note,phone,create_time) values
      (#{sqly.sno},#{sqly.aid},#{sqly.uid},#{sqly.note},#{sqly.phone},#{sqly.create_time})
     </insert>

</mapper>